* {
    /* border: 3px solid red; */
    /* animation: fadeIn 5s; */
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* flex-shrink: 1; */
    align-items: center;
    background-color: dark chartreuse;
    background-image: url('img/8bit bkg japanese street.jpeg');
    max-width: 1400px;
}

#controller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    border: 3px solid white;
    border-radius: 200px 200px 100px 100px;
    /* height: 800px; */
    color: rgb(200, 255, 145);
    margin: 50px;
    max-height: 600px;
    max-width: 800px;
}

#window{
    display: flex ;
    background-color: skyblue;
    border: 3px solid rgb(89, 255, 56);
    border-radius: 200px 200px 30px 30px;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 700px;
    margin: 20px;
    /* dayt image */
    background-image: url('img/mikhail-selnihin-full-day-out-light-x4.jpeg');
    background-size: 95%;
}

#score-panel {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    /* margin: 0px 25px 40px 25px; */
    border: 3px solid rgb(77, 224, 47);
    border-radius: 50px;
    background-color: hotpink;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 600px;
    
}

#name-output {
    display: flex;
    justify-content: center;
}

#button-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 20px;
    max-width: 500px;
}

.start-and-name {
    margin:20px;
    background-color: rgb(255, 186, 108);
    color: rgb(77, 0, 150);
    font-weight: bold;
    font-size: large;

}

.sign-in {
    display: flex;
    background-color:lightpink;
    border: 3px solid rgb(0, 196, 153);
    color:rgb(0, 103, 110);
    flex-direction: column;
}

.tamagotchi-sprite {
    display: flex;
    height: 100px;
    margin-bottom: 150px;
}

@keyframes defaultGo {
    0% {transform: translateX(0%) rotate(0deg)}
    25% {transform: translateX(-100%)rotate(180deg)}
    33% {transform: translateX(-100%) translateY(100%)}
    50% {transform:translateX(100%) translateY(100%) rotate(360deg)}
    75% {transform: translateX(100%) rotate(540deg)}
    100% {transform: translateX(0%) rotate(720deg)}
}

@keyframes idle { 
    0% {transform: translateX(0);}
    100% {transform: translateX(0);}
}
@keyframes float { 
    0% {transform: translateY(100%);}
    100% {transform: translateX(0);}
}

@keyframes rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(720deg)}
}

@keyframes fadeIn {
    0% {transform: opacity(0)}
    100% {transform: opacity(1)}
}

.scores {
    margin: 20px;
    font-size: small;
}

.buttons {
    color: rgb(200, 255, 145);
    height: 100px;
    width: 100px;
    border: 3px solid rgb(77, 224, 47);
    border-radius: 50px;
    background-color: hotpink;
    flex-shrink: 2;
    font-size: medium;
    margin: 25px 50px 25px 50px;
}
